$font-stack: 'Ubuntu', sans-serif;
$primary-color: #333;
$padding: 5em;

%bupper{
	text-transform: uppercase;
	font-weight: bold;
}

%body-margin{
	margin: 0 auto;
	max-width: 125ch;
	line-height: 1.5;
}


* {
	padding: 0;
	margin: 0;
	// outline: solid red 1px;
}
body{
	color: $primary-color;
	font-family: $font-stack;
	font-weight: lighter;
}

h2{
	text-transform: uppercase;
}

button{
	font: $font-stack;
	text-transform: uppercase;
	font-size: .8rem;
	color: #fff;
	background: #333;
	padding: .8em 1.5em;
	border: none;
}

nav{
	padding:1.25em 0;
	@extend %bupper;
	@extend %body-margin;

	ul{
		display: flex;
	}

	li{
		list-style: none;
		padding-left: 1em;
	}

	a{
		text-decoration: none;
		opacity: .6;
		color: $primary-color;
	}

	a.active{
		opacity: 1;
	}

}

.hero{
	display: flex;
	color: #fff;
	background-image:url('../images/hero.png');
	height: 420px;
	align-items: center;
	justify-content: center;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 

	.content{
		@extend %bupper;
		display: inline-block;
		padding: 1em 2em;
		background-color: rgba(0,0,0,.75);
	}

	h1{
		font-size: 3rem;
		margin: 1rem 0;
	}
	p{
		font-size: .75rem;
		font-weight: lighter;
	}
}

.main{
	margin: 0 auto;
	@extend %body-margin;

	.articles > div{
	  margin: 3em 0;
	}

	.featured-article{
		max-width: 96ch;
	}

	.row{
		display: flex;
		gap: 2em;
	}

	.row > div > *, .featured-article > *{
		margin-bottom:1em;
	}

	.tags{
		span{
			margin-right: .5em;
		}
		font-size: .75em;
	}


}

.other-articles{

	*{
		flex-basis: 100%;
	}
}

.tree{
	margin: 3em 0;
}