$font-stack: 'Ubuntu', sans-serif;
$primary-color: #333;
$breakpoint-tablet: 768px;
// $padding: 5em;
$margin-top:3em;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// outline: solid red 1px;
}
body{
	color: $primary-color;
	font-family: $font-stack;
	font-weight: lighter;
}


%bupper{
	text-transform: uppercase;
	font-weight: bold;
}


%open{
	flex: 0 0 25ch;
	width: auto;
}

@mixin body-margin ($topMargin, $bottomMargin: 0){
	margin: $topMargin calc(4em + 5ch + 3px) $bottomMargin calc(4em + 5ch + 3px);
	// max-width: 125ch;
	line-height: 1.5;
}



h2{
	text-transform: uppercase;
}

button{
	font: $font-stack;
	text-transform: uppercase;
	font-size: .8rem;
	color: #fff;
	background: #333;
	padding: .8em 1.5em;
	border: none;
}

nav{
	display: flex;
	position: sticky;
	top:0;
	background: #fff;
	border-top:solid 3px #000;
	border-bottom:solid 3px #000;
	@extend %bupper;

	ul{
		display: flex;
		list-style: none;
	}

	li{
		
		padding:2em;
		border-right:solid 3px #333;

	}

	a{
		text-decoration: none;
		opacity: .6;
		color: $primary-color;
	}

	a.active{
		opacity: 1;
	}

	button#toggleSidebar{
		display: none;
		margin-left: auto;
	}
}

.search-box{
	
	border-bottom:solid 3px #333;
	padding:2em 1em;
	display: flex;

	*{
		margin: 0 5px;
	}

	input[type=text]{

		color:#555;
		border: none;
		text-transform: capitalize;
		font-family: "Ubuntu", sans-serif;
		font-size: 1rem;
		width: 16ch;

		&:focus{
			outline: none;
		}
	}
}

.body-content{
	display: flex;
}

.main{
	flex:1;
}

.side-bar{
	background: #fff;
	border:solid 3px #000;
	text-align: right;
	height: calc(100vh);
	position: sticky;
	top:0;
	overflow-x: hidden;

	&.open{
		@extend %open;	
	}
	
	&.collapse{
		@extend %open;
	}
	
}



.hero{
	@include body-margin(2em,6em);
	display: flex;
	color: #fff;
	height: 420px;
	align-items: center;
	justify-content: center;
	background-image:url('../images/hero.gif');
	background-color:black;
	background-size:contain;
	background-repeat: repeat; /* Do not repeat the image */
	border: solid 3px lime;

	.content{
		@extend %bupper;
		display: inline-block;
		padding: 1em 2em;
		background-color: rgba(0,0,0,.75);
	}

	h1{
		font-size: 3rem;
		margin: 1rem 0;
	}
	p{
		font-size: .75rem;
		font-weight: lighter;
	}
}

.main-content{
	@include body-margin(2em);

	.articles{
		display: grid;
		grid-template-columns: repeat((3,1fr));
		gap: 1em;
	}

	.articles > div{
	  border: solid 3px #000;
	  padding: 1em 2em;
	}

	.featured-article{
		grid-column: 1/span 3;
	}

	.tags{
		span{
			margin-right: .5em;
		}
		font-size: .75em;
	}


}

.other-articles{

	*{
		flex-basis: 100%;
	}
}

.tree{
	margin: 3em 0;
}


@media (max-width: $breakpoint-tablet) {
	nav{
		button#toggleSidebar{
			display: block;
			margin-left: auto;
		}
	}

	.side-bar{
		position: fixed;
		
		&.open{
			@extend %open;
			top:0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
		
		&.collapse{

			flex: 0 0 0;
			width: 0;
			transition: .4s;
			
		}
	}
}