$font-stack: 'Ubuntu', sans-serif;
$primary-color: #333;
// $padding: 5em;
$margin-top:3em;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// outline: solid red 1px;
}
body{
	color: $primary-color;
	font-family: $font-stack;
	font-weight: lighter;
}


%bupper{
	text-transform: uppercase;
	font-weight: bold;
}


@mixin body-margin ($topMargin, $bottomMargin: 0){
	margin: $topMargin auto $bottomMargin auto;
	max-width: 125ch;
	line-height: 1.5;
}



h2{
	text-transform: uppercase;
}

button{
	font: $font-stack;
	text-transform: uppercase;
	font-size: .8rem;
	color: #fff;
	background: #333;
	padding: .8em 1.5em;
	border: none;
}

nav{
	position: sticky;
	top:-3px;
	background: #fff;
	border-top:solid 3px #000;
	border-bottom:solid 3px #000;
	@extend %bupper;

	ul{
		display: flex;
		list-style: none;
	}

	li{
		
		padding:2em;
		border-right:solid 3px #333;

	}

	a{
		text-decoration: none;
		opacity: .6;
		color: $primary-color;
	}

	a.active{
		opacity: 1;
	}

}

.hero{
	@include body-margin(2em,6em);
	display: flex;
	color: #fff;
	background-image:url('../images/hero.png');
	height: 420px;
	align-items: center;
	justify-content: center;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 

	.content{
		@extend %bupper;
		display: inline-block;
		padding: 1em 2em;
		background-color: rgba(0,0,0,.75);
	}

	h1{
		font-size: 3rem;
		margin: 1rem 0;
	}
	p{
		font-size: .75rem;
		font-weight: lighter;
	}
}

.main{
	@include body-margin(2em);

	.articles{
		display: grid;
		grid-template-columns: repeat((3,1fr));
		gap: 1em;
	}

	.articles > div{
	  border: solid 3px #000;
	  padding: 3em;
	}

	.featured-article{
		grid-column: 1/span 3;
	}

	.tags{
		span{
			margin-right: .5em;
		}
		font-size: .75em;
	}


}

.other-articles{

	*{
		flex-basis: 100%;
	}
}

.tree{
	margin: 3em 0;
}